%nav.flex.text-center.flex-row.text-left.justify-between.py-4.px-6.bg-white.shadow.items-baseline.w-full.sticky.top-0
    .mb-auto.sm:mb-0
        = link_to icon('fas', 'home'), root_path, class: "text-xl hover:text-gray-500"
    .mb-auto.sm:mb-0
        %p Gergely Károlyi
    %div.mb-auto.sm:mb-0
        = link_to icon('fab', 'github'), 'https://github.com/gkarolyi/js30-demo', class: "text-xl hover:text-gray-500", target: "_blank"