.navbar.navbar-light.bg-light
    .container-fluid
        = link_to "Gergely Károlyi - JavaScript30 demo", root_path, class: "navbar-brand"
        = link_to icon('fab', 'github'), 'https://github.com/gkarolyi/js30-demo', target: "_blank"