#cards
    %ul.grid.grid-cols-1.gap-6.sm:grid-cols-2.md:grid-cols-3.lg:grid-cols-4.xl:grid-cols-6.p-8
        - (1..30).each do |id|
            = render partial: "components/challenge_card", locals: { id: id }
