#challenge-wrapper{data: {challenge_id: @id}}
    %div{id: "challenge-#{@id}"}
        - begin
            = render "components/challenges/#{@id}" 
        - rescue
            = render "components/challenge_missing"
