#challenge-wrapper{data: {challenge_id: @id}}
    %div{id: "challenge-#{@id}"}
        - begin
            = render partial: "components/challenges/#{@id}" 
        -# rescue
            =# render partial: "components/challenge_missing"
